:root {
  --container-width: 1148px;
  --container-padding: 2rem;
  --nav-bg-clr: rgb(255, 255, 255);
  --nav-text-clr: rgb(0, 0, 0);
  --banner-bg-clr: rgb(239, 172, 48);
  --box-img-bg-clr: rgb(5, 104, 104);
  --btm-box-clr-1: rgb(189, 112, 252);
  --btm-box-clr-2: rgb(70, 83, 229);
  --btm-box-clr-3: rgb(251, 181, 52);
  --btm-box-clr-4: rgb(70, 163, 54);
  --btm-box-clr-5: rgb(21, 141, 174);
  --btm-box-clr-6: rgb(169, 55, 141);
}
body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
/* navbar started */
#navigation {
  background-color: var(--nav-bg-clr);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.container {
  width: min(var(--container-width), 100% - var(--container-padding));
  margin-inline: auto;
}
.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
}
.nav-logo img {
  width: 100px;
  height: auto;
}
.nav-list {
  display: flex;
}
.nav-list ul {
  list-style: none;
}
.nav-list ul li {
  display: inline-block;
}
.nav-list ul li a {
  padding: 10px 20px;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--nav-text-clr);
  position: relative;
}

.nav-list ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  transition: width 0.3s ease, background 0.3s ease; /* Transition both width and background */
}

.nav-list ul li a:hover::before {
  width: 100%;
  background: linear-gradient(to right, var(--random-color-1), var(--random-color-2)); /* Random gradient color on hover */
}

/* navbar end */

#banner-section {
  margin-top: 50px;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-content {
  padding: 150px 0px;
  text-align: center;
  color: rgb(255, 255, 255);
  /* background-color: var(--banner-bg-clr); */
}
.banner-content h1 {
  text-transform: capitalize;
}
.heading {
}
.heading h1 {
  text-align: center;
  margin: 50px auto;
  text-transform: capitalize;
}
.box-area {
  box-sizing: border-box;
  display: grid;
  column-gap: 50px;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six";
}

.boxes:nth-child(1) {
  grid-area: one;
}
.boxes:nth-child(2) {
  grid-area: two;
}
.boxes:nth-child(3) {
  grid-area: three;
}
.boxes:nth-child(4) {
  grid-area: four;
}
.boxes:nth-child(5) {
  grid-area: five;
}
.boxes:nth-child(6) {
  grid-area: six;
}

@media (min-width: 588px) {
  .box-area {
    grid-template-areas:
      "one two"
      "four three"
      "five six" !important;
    margin-bottom: 100px !important;
  }
  .box-text {
    margin-bottom: 0px;
  }
}

.box-img {
  /* background-color: var(--box-img-bg-clr); */
  width: min(400px, 100%-10px);
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-img img {
  object-fit: cover;
  object-position: left;
  aspect-ratio: 1/1;
}
.box-img h1 {
}
.box-text {
  width: min(400px, 100%-10px);
  /* aspect-ratio: 1/1; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
}
.box-text h3 {
}
.box-text h2 {
}
.box-text p {
}

/* bottom box area start */

.bottom-box {
  box-sizing: border-box;
  display: grid;
  gap: 10px;
  margin: 50px auto;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six";
}
.b-box-child {
  width: auto;
  padding: 20px;
  text-align: justify;
}
.b-box-child:nth-child(1) {
  grid-area: one;
  background-color: var(--btm-box-clr-1);
}
.b-box-child:nth-child(2) {
  grid-area: two;
  background-color: var(--btm-box-clr-2);
}
.b-box-child:nth-child(3) {
  grid-area: three;
  background-color: var(--btm-box-clr-3);
}
.b-box-child:nth-child(4) {
  grid-area: four;
  background-color: var(--btm-box-clr-4);
}
.b-box-child:nth-child(5) {
  grid-area: five;
  background-color: var(--btm-box-clr-5);
}
.b-box-child:nth-child(6) {
  grid-area: six;
  background-color: var(--btm-box-clr-6);
}

@media (min-width: 700px) {
  .bottom-box {
    grid-template-areas:
      "one two three"
      "one two three"
      "four two six"
      "four five six"
      "four five six" !important;
  }
}
/* bottom box area end */
